/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
header, footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1em 0;
}

header nav a, footer a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

header nav a:hover, footer a:hover {
  text-decoration: underline;
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 0.5em;
}

.portfolio-item {
  border: 1px solid #ddd;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 5px;
}

/* Tablet View */
@media (min-width: 481px) {
  main {
    padding: 1em;
  }

  .portfolio-item {
    padding: 0.8em;
    margin-bottom: 0.8em;
  }

  header, footer {
    padding: 0.8em 0;
  }

  header nav a, footer a {
    margin: 0 10px;
    display: inline-block;
  }

  header nav {
    flex-direction: row;
  }
}

/* Desktop View */
@media (min-width: 769px) {
  main {
    padding: 2em;
  }

  .portfolio-item {
    padding: 1em;
    margin-bottom: 1em;
  }

  header, footer {
    padding: 1em 0;
  }

  header nav a, footer a {
    margin: 0 15px;
  }
}
