.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../images/1.jpg') no-repeat center center fixed;
  background-size: cover;
}

.text-section {
  text-align: center;
  margin-top: 50px;
}

#hi {
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  animation: fadeIn 1s ease-in-out;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  margin: 0 10px 0 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  animation: fadeIn 1s ease-in-out;
}

#name {
  color: deepskyblue;
  margin: auto;
  font-family: "Gwendolyn", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
  animation: fadeIn 1s ease-in-out;
}

.role {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  animation: fadeIn 1s ease-in-out;
}

.caption1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: auto;
  animation: fadeIn 1s ease-in-out;
}

.caption2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 15px;
  margin: auto;
  animation: fadeIn 1s ease-in-out;
}

.subcaption {
  font-family: "Gwendolyn", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  margin: auto;
  animation: fadeIn 1s ease-in-out;
}

.profile-image {
  width: 100%;
  height: auto;
  border-radius: 0;
  transition: transform 0.5s ease;
  margin: 50px auto;
  align-content: center;
}

.profile-image:hover {
  transform: scale(1.1);
}

.button-container {
  text-align: center;
  margin-top: 20px;
  animation: fadeIn 2s ease-in-out;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  margin-right: 10px;
  background-image: linear-gradient(to left, #007bff, #00bcd4);
  animation: fadeIn 1s ease-in-out;
}

.button:hover {
  background-image: linear-gradient(to left, #0056b3, #0097a7);
}

/* Additional animations */
/* Keyframes for fadeIn animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}


/* Media Queries for Tablet and Mobile */
@media (max-width: 768px) {
  .title1 {
    font-size: 30px;
    line-height: 1;
  }
  .title2 {
    font-size: 70px;
    line-height: 1;
  }
  .subtitle {
    font-size: 20px;
    line-height: 1;
  }
  .button {
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1;
  }
}
